<div class="container">
    <div class="row">

    <div class="col-md-6 col-xs-12"><a routerLink="/home"><button type="button" class="btn btn-danger my-3" >Go To Home</button>
        </a></div>
    <form class="my-3" [formGroup]="addProduct">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control"  aria-describedby="emailHelp"
                placeholder="Product Name" formControlName="ProductName">
            <!-- <span class="error" *ngIf="name.invalid && name.touched">This field is required </span> -->
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">ProductDescription</label>
            <textarea class="form-control" placeholder="Product Description" rows="3"
                formControlName="ProductDescription"></textarea>
            <!-- <span class="error" *ngIf="address.invalid && address.touched">This field is required </span> -->
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="number" class="form-control"  placeholder="Product Price"
                formControlName="ProductPrice" maxlength="10">
            <!-- <span class="error" *ngIf="phone.invalid && phone.touched ">Number should be 10 Charecters </span> -->
        </div>
        <!-- <div class="form-group">
            <label for="exampleInputEmail1">Image</label>
            <input type="file" class="form-control" (change)="onchangefile($event)" formControlName="productImg" aria-describedby="emailHelp"
             >
            <span class="error" *ngIf="name.invalid && name.touched">This field is required </span>
        </div> -->
        <!-- <img src={{url}} width="220x" height="250px"> -->
        <!-- <button type="submit" class="btn btn-primary my-3" (click)="uloadfile()">upload</button> -->

        <button type="submit" class="btn btn-danger my-3" (click)="addCustomerFun()">Submit</button>
    </form>
    </div>
</div>