<div class="container" style="width: 100%; margin-top: 20px;">
    <div class="row">
      <div class="col-md-12 d-flex">
        <h3>Product List</h3>
        <button class="btn btn-md btn-danger ml-auto" routerLink="/add"
          style="margin-left: auto; border-radius: 100%;"><b>+</b></button>
      </div>
      <div class="col-md-12 d-flex my-2">
        <input class="form-control border-2 border-end-0 border-start-success rounded-0 rounded-start" type="search"
          placeholder="Search Here" aria-label="Search" [(ngModel)]="searchText" autocomplete="off"
          style="border-left:10px solid #cc0000">
        <button class="btn btn-light rounded-0 rounded-end" type="submit" style="border:2px solid #ced4da">Search</button>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="table-responsive" id="responsivetableid">
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">description</th>
              <th scope="col">Price</th>
             
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of productList| filter:searchText">
            <tr>
              <td data-title="id">{{item._id}}</td>
              <td data-title="name">{{item.ProductName}}</td>
              <td data-title="description">{{item.ProductDescription}}</td>
              <td data-title="Price">{{item.ProductPrice}}</td>
              <!-- <td data-title="image"><img src={{item.prouctImage_url}}></td> -->
              <!-- <td>{{item.ImagePath}}</td> -->
              <td data-title="action"> <a routerLink="/update/{{item._id}}"><i class="fa fa-edit text-dark me-1" style="font-size:20;"></i>
                </a><i class="fa fa-trash text-dark me-1" style="font-size:20" (click)="deleteProduct(item._id)"></i> <a
                  routerLink="/single/{{item._id}}"><i class="fa fa-user text-dark me-1" style="font-size:20"></i></a></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>